@model IEnumerable<Project.Models.Friend>
@model IEnumerable<Project.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @if (item.Gender == true)
            {
                <td>
                    @*@Html.DisplayFor(modelItem => item.Gender)*@ Male
                </td>

            }
            else
            {
                <td> Female </td>
            }

            <td>
                @Html.ActionLink("Add Friend", "Edit", new { id = item.User_Id }) |
                @Html.ActionLink("Like", "Details", new { id = item.User_Id }) |
                @Html.ActionLink("Dislike", "Delete", new { id = item.User_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.User_Id })
            </td>
        </tr>
    }

</table>
