@model IEnumerable<Project.Models.Friend>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FriendName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FriendName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Friend_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Friend_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Friend_Id })
        </td>
    </tr>
}

</table>
