@model IEnumerable<Project.Models.User>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>

<script>
    alert("đăng nhập thành công")
</script>

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Welcome
            </div>
            <div class="card-body">
                @if (Session["FullName"] != null)
                {
                    <p>Name: @Session["FullName"].ToString()</p>
                    <p>Gender: @Session["Gender"].ToString()</p>
                    <p>WorkStatus: @Session["WorkStatus"].ToString()</p>
                    <p>Email: @Session["Email"].ToString()</p>
                    <p>Address: @Session["Address"].ToString()</p>
                    <p>DOB: @Session["DOB"].ToString()</p>
                    <a href="@Url.Action("Logout","Users")" class="btn btn-warning">Logout</a>
                }
            </div>
        </div>
    </div>
</div>

